[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
User=%I
ExecStart=/usr/bin/tmux new-session -s terminal -d -c "cd"
ExecStop=/usr/bin/tmux kill-session -t terminal

[Install]
WantedBy=multi-user.target
